.main {
    width: 100vw;

}

.main h1{
    font-weight: 600;
    color: #000000;
    padding: 8px 78px 8px 24px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 8px;
}

.main nav ul{
    display: flex;
}

.main .item_header{
    margin: 0 15px 0 15px;
}
.main .item_header:hover{
    color: #ffffff;
    transition: all .3s ease;
}
.main .item_header:last-child{
    margin-right: 0;
    font-weight: 500;
    color: #ffffff;
}
.main .item_header:last-child a{
    padding: 8px 16px;
    background-color: #7a82f8aa;
    border-radius: 8px;
}
.main .item_header:first-child::after{
    content: url("/icons/open.svg");
    width: 12px;
    height: 6px;
    padding-left: 14px;
    cursor: pointer;
}
.main .item_header:last-child a::before{
    content: url("/icons/add.svg");
    padding-right: 14px;
    position: relative;
    top: 3px;
}

.main .header_avatar{
    display: flex;
}
.main .header_avatar::after{
    content: url("/icons/open.svg");
    width: 12px;
    height: 6px;
    padding-left: 14px;
    margin-top: 10%;
}




/*---------------------
стили для заголовка главной страницы
------------------------*/
.title__page{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #242752;
}

.title__page::before{
    content: url('./../../../public/icons/ellipse.svg');
    margin-right: 12px;
    position: relative;
    top: 5px;
}


/*---------------------
стили для меню (левая часть)
------------------------*/
.aside_wrapper{
    border-radius: 8px;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, .15);
}

.aside_wrapper .item_aside{
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.aside_wrapper .chats .item_aside:last-child{
    margin-left: 5px;
    column-gap: 13px;
}

.aside_wrapper .item_aside.active{ 
    color: #7a82f8aa;
}

.aside_wrapper .item_aside:hover{
    transition: all .3s ease;
    color: #ffffff;
    cursor: pointer;
}




/*---------------------
стили списка задач (центральная часть)
------------------------*/
.task_week::before{
    content: url("./../../../public/icons/icon-calendar.svg");
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.task_week::after{
    content: url("./../../../public/icons/open.svg");
    margin-right: 10px;
    width: 15px;
    margin-left: 14px;
    cursor: pointer;
}



/*---------------------
стили статистика (правая часть)
------------------------*/
.calendar{
    margin: 0 auto;
}

