

.main h1{
    font-weight: 600;
    color: #000000;
    padding: 8px 78px 8px 24px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 8px;
}

.main nav ul{
    display: flex;
}

.main li{
    margin: 0 20px 0 20px;
}
.main li:last-child{
    margin-right: 0;
    font-weight: 500;
    color: #ffffff;
}
.main li:last-child a{
    padding: 8px 16px;
    background-color: #7a82f8aa;
    border-radius: 8px;
}
.main li:first-child::after{
    content: url("/icons/open.svg");
    width: 12px;
    height: 6px;
    padding-left: 14px;
    cursor: pointer;
}
.main li:last-child a::before{
    content: url("/icons/add.svg");
    padding-right: 14px;
    position: relative;
    top: 3px;
}

.main .header_avatar{
    display: flex;
}
.main .header_avatar::after{
    content: url("/icons/open.svg");
    width: 12px;
    height: 6px;
    padding-left: 14px;
    margin-top: 10%;
}